{% extends "base.html"%} {% block content %}
<form method="POST" class="buttons">
  <h3 align="center">Enter the Chat Room</h3>
  <label class="form-label" for="name">Name</label>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Pick your name"
      name="name"
      id="name"
      value="{{name}}"
    />
  </div>

  <label class="form-label" for="code">Room Code(if joining a room):</label>
  <div class="join input-group mb-3"> <!-- Insert join back into class list-->
      <input class="form-control" type="text" placeholder="Room Code" id="code" name="code" value="{{code}}" />
      <button class="btn btn-secondary input-group-text">
              Join a Room
      </button>
</div>

  <button type="submit" name="create" class="create-btn btn btn-primary">
    Create a Room
  </button>
</form>


  <div class="modal" id="errorModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!------------------------------------------------------------->
        <div class="modal-header">
          <h3 class="modal-title">Error</h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >

          </button>
        </div>
        <!------------------------------------------------------------->
        <div class="modal-body">
          <p>{{error}}</p>
        </div>
        <!------------------------------------------------------------->
      </div>
    </div>
  </div>

  {% if error %}
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      const myModalElement = document.getElementById("errorModal");
      const myModal = new bootstrap.Modal(myModalElement);
      myModal.show();
    });
  </script>
  {% endif %}
{% endblock %}
